<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="mt-5">Tu peux envoyer un secret</h1>
          <p>Cette personne ne pourra le lire qu'une fois. Ca restera entre elle et toi.</p>
          <a href="/send" class="btn btn-primary">Envoyer un secret</a>
        </div>
      </div>
    </div>
</section>